absl-py==0.12.0
altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.5.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autocrop==1.1.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.6.0
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.20.3
olefile==0.46 
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.1.2
streamlit==0.83.0
tensorflow==2.5.0
tensorflow-addons==0.13.0
